%h3= "Question"

= simple_form_for [@question_group, question], :remote => true do |f|
  = f.input :type, :collection => ::Rapidfire::QuestionProxy::QUESTION_TYPES,
    :include_blank => false, :input_html => { :id => "question_type" }
  = f.input :question_text
  = f.input :answer_options, :as => :text, :input_html => { :rows => 5 },
    :wrapper_html => { :id => "question_answer_options_wrapper" }
  %h4 Other options
  %hr
  = f.input :answer_presence, :as => :boolean
  = f.input :answer_minimum_length,
    :wrapper_html => { :id => "question_answer_minimum_length_wrapper", :class => "hide" }
  = f.input :answer_maximum_length,
    :wrapper_html => { :id => "question_answer_maximum_length_wrapper", :class => "hide" }
  = f.input :answer_greater_than_or_equal_to,
    :wrapper_html => { :id => "question_answer_greater_than_or_equal_to_wrapper", :class => "hide" }
  = f.input :answer_less_than_or_equal_to,
    :wrapper_html => { :id => "question_answer_less_than_or_equal_to_wrapper", :class => "hide" }
  = f.submit
