<tr id="question_<%= question.id %>">
  <td><%= question.question_text %></td>
  <td>
    <ul class="horizontal-list">
      <li><%= link_to "Edit", [:edit, question.question_group, question] %></li>
      <li><%= link_to "Delete", [question.question_group, question], method: :delete %></li>
      <% if question.position %>
        <li><%= link_to "MoveUp", action: "move", question_group_id: question.question_group.id, question_id: question.id, position: (question.position-1) %></li>
        <li><%= link_to "MoveDown", action: "move", question_group_id: question.question_group.id, question_id: question.id, position: (question.position+1) %></li>
      <% else %>
        <li><%= link_to "Give it position", action: "move", question_group_id: question.question_group.id, question_id: question.id, position: 1 %></li>
      <% end %>
    </ul>
  </td>
</tr>
