!!!

%html
  %head
    %title Rapidfire
    = stylesheet_link_tag    "rapidfire/application", :media => "all"
    = javascript_include_tag "rapidfire/application"
    = csrf_meta_tags

  %body
    %ul
      %li= link_to "Question Groups", question_groups_path
    = yield
