<tr id= "survey_<%= survey.id %>">
  <td>
    <% if can_administer? %>
      <%= link_to survey.name, survey_questions_path(survey) %>
    <% else %>
      <%= survey.name %>
    <% end %>
  </td>
  <td>
    <ul class="horizontal-list">
      <li><%= link_to "Answer Questions", new_survey_attempt_path(survey) %></li>
      <% if can_administer? %>
        <li><%= link_to "Results", [:results, survey] %></li>
        <li><%= link_to "Edit", edit_survey_path(survey) %></li>
        <li><%= link_to "Copy", surveys_path(copy_survey_id: survey), method: :post %></li>
        <li><%= link_to "Delete", survey, method: :delete %></li>
        <% if survey.active? %>
          <li><%= link_to "De-activate", survey_path(survey, survey: { active: 0 }), method: :patch %></li>
        <% else %>
          <li><%= link_to "Activate", survey_path(survey, survey: { active: 1 }), method: :patch %></li>
        <% end %>
      <% end %>
    </ul>
  </td>
</tr>
