<h1>Results</h1>
<%= link_to "Download CSV", results_survey_path(id: params[:id], format: :csv) %>
<%- @survey_results.each do |result| %>
  <div>
    <h4><%= result.question.question_text %></h4>
    <p>
      <%- if result.results.is_a?(Array) %>
        <ol>
          <%- result.results.each do |answer| %>
            <li><%= answer %></li>
          <% end %>
        </ol>
      <% elsif result.results.is_a?(Hash) %>
        <table>
          <thead>
            <tr>
              <th>Option</th>
              <th>Count</th>
              <th>Filter</th>
            </tr>
          </thead>
          <tbody>
            <%- result.results.each do |option, count| %>
              <tr>
                <td><%= option %></td>
                <td><%= count %></td>
                <td><%= filter_link(result.question.id, option) %></th>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% end %>
  </div>
<% end %>
