<h2><%= t('rapidfire.attempts.header') -%></h2>
<hr/>

<p><%= @survey.introduction %></p>

<%= form_for([@survey, @attempt_builder], method: method) do |f| %>
  <%- if @attempt_builder.errors.present? %>
    <ul>
      <%- @attempt_builder.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>

  <%- @attempt_builder.answers.each do |answer| %>
    <%= f.fields_for("#{answer.question.id}", answer) do |answer_form| %>
      <%= render_answer_form_helper(answer, answer_form) %>
    <% end %>
  <% end %>
  <%= f.submit submit_text %>
<% end %>
